<!doctype html>
<html class="no-js" ng-app="StarterApp">
<head>
  <meta charset="utf-8">
    <title><%= title%></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="css/frameworks.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="css/site.css">
    <!-- endbuild -->
</head>
<body>
